
<div class="fitch-structure">
    <div class="fitch-premise" ng-repeat="premise in fitch.premiseGraph.premises track by $index">
        <span class="fitch-premise-line text-muted">{{$index + 1}}) </span>
        <input type="checkbox" id="fitch-check-{{$index + 1}}" ng-model="premise.checked" class="fitch-checkbox-input">
        <label for="fitch-check-{{$index + 1}}" class="fitch-checkbox"></label>
        <div class="fitch-premise-row">
          <div class="fitch-premise-value"
               ng-class="{'universal-scope': !premise.scopeLayer}"
               ng-style="{'margin-left':fitch.marginLeft * premise.scopeLayer}">{{premise.value}}</div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      Fitch
    </div>
    <div class="panel-body">
      <div class="col-sm-offset-3">
      <strong class="text-info">Enter your assupmtion here:</strong>
      </div>
      <div class="assumption-section">
          <div class="col-sm-6 col-md-offset-2">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="e.g. ~(p&q)=>(~p|~q)" ng-model="fitch.premise" />
                  <span class="input-group-btn">
                      <button class="btn btn-info" ng-click="fitch.assume()">
                        Add
                        <span class="glyphicon glyphicon-plus add-icon"></span>
                      </button>
                  </span>
              </div>
          </div>
          <div class="col-sm-3 col-md-offset-1 refresh-section">
            Refresh
            <span class="glyphicon glyphicon-refresh refresh-button" ng-click="fitch.refresh()"></span>
          </div>
      </div>
      <div class="row fitch-operations">
          <div class="list-group fitch-group-operations col-md-4 col-sm-12">
              <button class="list-group-item fitch-single-operation" ng-click="fitch.andIntroduction()">And Introduction</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.andElimination()">And Elimination</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.orIntroduction()">Or Introduction</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.orElimination()">Or Elimination</button>
          </div>
          <div class="list-group fitch-group-operations col-md-4 col-sm-12">
              <button class="list-group-item fitch-single-operation" ng-click="fitch.implicationIntro()">Implication Introduction</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.implicationElim()">Implication Elimination</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.biconditionalIntro()">Biconditional Intro</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.biconditionalElim()">Biconditional Elim</button>
          </div>
          <div class="list-group fitch-group-operations col-md-4 col-sm-12">
              <button class="list-group-item fitch-single-operation" ng-click="fitch.negationIntro()">Negation Introduction</button>
              <button class="list-group-item fitch-single-operation" ng-click="fitch.negationElim()">Negation Elimination</button>
              <button class="list-group-item list-group-item-warning fitch-single-operation" ng-click="fitch.reiterate()">
                Reiterate
                <span class="glyphicon glyphicon-repeat"></span>
              </button>
              <button class="list-group-item list-group-item-danger fitch-single-operation" ng-click="fitch.delete()">
                Delete
                <span class="glyphicon glyphicon-remove"></span>
              </button>
          </div>
      </div>
      <div class="row col-sm-7 col-sm-offset-2" ng-if="fitch.showDisjoinField">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Insert premise to disjoin" ng-model="fitch.valueToDisjoin"/>
          <span class="input-group-btn">
              <button class="btn"
                      ng-class="{'btn-default' : !fitch.valueToDisjoin, 'btn-info': fitch.valueToDisjoin}"
                      ng-click="fitch.disjoinPremise()"
                      ng-disabled="!fitch.valueToDisjoin">
                      Insert
              </button>
              <button class="btn btn-danger" ng-click="fitch.closeDisjoinField()">Cancel</button>
          </span>
        </div>
      </div>
    </div>
</div>
